asn1crypto==0.22.0
astroid==1.5.3
backports.functools-lru-cache==1.4
cachetools==2.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
colored==1.3.5
configparser==3.5.0
cryptography==2.0.3
defusedxml==0.5.0
enum34==1.1.6
flake8==3.4.1
Flask==0.12.2
Flask-API==0.7.1
futures==3.1.1
gitdb2==2.0.2
google-api-python-client==1.6.3
google-auth==1.0.2
google-cloud-core==0.27.1
google-cloud-storage==1.4.0
google-resumable-media==0.2.3
googleapis-common-protos==1.5.2
gspread==0.6.2
gunicorn==19.4.5
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
isort==4.2.15
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jira==1.0.10
junit-xml==1.7
lazy-object-proxy==1.3.1
Markdown==2.6.8
MarkupSafe==1.0
mccabe==0.6.1
oauth2==1.9.0.post1
oauth2client==4.1.2
oauthlib==2.0.2
olefile==0.44
ordereddict==1.1
pbr==3.1.1
Pillow==4.0.0
protobuf==3.4.0
pyasn1==0.3.4
pyasn1-modules==0.1.4
pycodestyle==2.3.1
pycparser==2.18
pycrypto==2.6.1
pyflakes==1.5.0
pylint==1.7.2
pyOpenSSL==17.2.0
PyYAML==3.12
requests==2.18.3
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
selenium==3.3.3
singledispatch==3.4.0.3
six==1.10.0
slackclient==1.0.9
smmap2==2.0.3
stevedore==1.25.0
tabulate==0.7.5
termcolor==1.1.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
webapp2==2.5.2
WebOb==1.7.1
websocket-client==0.44.0
Werkzeug==0.12.2
wrapt==1.10.10
